# 1. nRF52840 CircuitPython - Static Symlink for Serial
SUBSYSTEM=="tty", ATTRS{idVendor}=="239a", ATTRS{idProduct}=="80da", SYMLINK+="ttyArchWeather"

# 2. Auto-Mount DISABLED due to stability issues with soft-reboot
# ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="CIRCUITPY", ...